<div id="actionBar" class="clr g_noSelect">
	<span id="infoText" class="left"><strong id="numberOfRows">1</strong> rad markerad i <strong id="tableNames">Users</strong></span>
	<a class="actionContainer left">
		<div class="inner clr">
			<span class="actionIcon add left"></span>
			<span class="actionText left">Lägg till</span>
		</div>
	</a>				
	<a class="actionContainer left">
		<div class="inner clr">
			<span class="actionIcon delete left"></span>
			<span class="actionText left">Ta bort</span>
		</div>
	</a>
</div>