<div id="wrapper">
	<div id="innerWrapper" class="slide">
		<aside id="asideMenu" class="g_noSelect">
			{{ render "asidemenu" model.database }}
		</aside>
		<section id="contentWrapper">
			<div id="contentInnerWrapper">
				{{render "dialog" dialog}}
				{{outlet}}
			</div>
		</section>
	</div>
</div>