<div id="wrapper">
	<div id="innerWrapper" class="">
		<header id="header" class="g_noSelect">
			{{outlet}}
		</header>
		<div id="headerBorder"></div>
		<aside id="asideMenu" class="g_noSelect">
		</aside>
		<section id="contentWrapper">
			<div id="contentInnerWrapper">
				<div id="tableWrapper" class="hidden g_noSelect">		
				</div>
			</div>
		</section>
	</div>
</div>
