<div id="asideWrapper">
	<div id="asideTitle">
		<span>Dewire DB</span>
	</div>
	<div id="asideSearch">
		<input id="asideSearchInput" type="search" placeholder="Sök efter tabeller..." />
	</div>
	<div class="asideListTitle">
		<span class="inner">Databaser</span>
	</div>
	<div class="asideDivider"></div>
	<div class="asideListContainer">
		<ul class="asideList">
			<li class="asideListItem">
				<a id="addDatabase" class="container clr">
					<div class="arrow left">
					</div>
					<div class="icon add left">
						<span class="inner"></span>
					</div>
					<div class="text">
						<span class="listItemName left">Lägg till databas</span>
						<span class="listItemChanges"></span>
					</div>
				</a>
			</li>
		</ul>
		<ul class="asideList">
			<li class="asideListItem colapsed parent">
				<a class="container">
					<div class="arrow left">
						<span class="inner"></span>
					</div>
					<div class="icon left">
						<span class="inner"></span>
					</div>
					<div class="text">
						<span class="listItemName">Dewire DB</span>
						<span class="listItemChanges"></span>
					</div>
				</a>
				<ul class="asideList">
					<li class="asideListItem child" data-filter=".Users">
						<a class="container">
							<div class="Icon table left">
								<span class="inner"></span>
							</div>
							<div class="text">
								<span class="listItemName" >Users</span>
								<span class="listItemChanges"></span>
							</div>
						</a>
					</li>
					<li class="asideListItem child" data-filter=".Files">
						<a class="container">
							<div class="Icon table left">
								<span class="inner"></span>
							</div>
							<div class="text">
								<span class="listItemName" >Files</span>
								<span class="listItemChanges"></span>
							</div>
						</a>
					</li>
					<li class="asideListItem child" data-filter=".UserPermissions">
						<a class="container">
							<div class="Icon table left">
								<span class="inner"></span>
							</div>
							<div class="text">
								<span class="listItemName">UserPermissions</span>
								<span class="listItemChanges">11</span>
							</div>
						</a>
					</li>
					<li class="asideListItem child" data-filter=".Teams">
						<a class="container">
							<div class="Icon table left">
								<span class="inner"></span>
							</div>
							<div class="text">
								<span class="listItemName">Teams</span>
								<span class="listItemChanges">11</span>
							</div>
						</a>
					</li>
				</ul>
			</li>
		</ul>	
	</div>
	<div class="asideDivider"></div>
</div>