<div id="dialog" class="g_noSelect">
	<span {{action 'closeDialog' }} id="dialogClose"></span>
	<div id="dialogInner">
		<span id="dialogTitle">Lägg till databas</span>
		<form onSubmit="return false;" id="addDatabaseForm" onSubmit="" method="post">
			<input class="dialogInput" type="text" placeholder="Domännamn" />
			<input class="dialogInput" type="text" placeholder="Port" />
			<input class="dialogInput" type="text" placeholder="Användarnamn" />
			<input class="dialogInput" type="password" placeholder="Lösenord" />
			<input id="dialogSubmit" class="right" type="submit" placeholder="Spara" value="Spara" />
		</form>
	</div>
</div>	