<div id="headerInner">
	<div id="headerTitle">
		<span>Dewire DB</span>
	</div> 
	<div id="headerIcon">
		<ul class="headerIconList left clr">
			<li class="headerIconListItem left">
				<a href="#" id="menu" class="headerMenuIcon"></a>
			</li>
		</ul>
		<ul class="headerIconList right clr">
			<li class="headerIconListItem right">
				<a href="#" id="structure" class="headerMenuIcon"></a>
			</li>							
			<li class="headerIconListItem right">
				<a href="#" id="chain" class="headerMenuIcon"></a>
			</li>
			<li class="headerIconListItem right">
				<a href="#" id="search" class="headerMenuIcon left"></a>
				<input type="search" id="searchInput" class="left" placeholder="Sök efter tabelldata..." />
			</li>					
		</ul>
	</div>
</div>
